<!DOCTYPE html>
<html>
<head>
<title>Pets</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/mystyle.css">

</head>

<body>
        <h1>All the Pets!</h1>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
                {% for one_pet in all_pets %}
              <tr>
                  <td>{{one_pet["id"]}}</td>
                  <td>{{one_pet["name"]}}</td>
                  <td>{{one_pet["type"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
       
    <h1>Add a Pet</h1>
    
    <form action="/create_pet" method="POST">
        <p>Name: <input type="text" name="names"></p>
        <p>Type: <input type="text" name="types"></p>
        <input type="submit" value="Add">
    </form>
</body>

</html>

